/** Navigation Bar, Font, Font Colour, Font Size and Padding **/
.navbar-nav li a{
    color: white;
    font-size: 1.15em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}

/** Navigation Bar Nav Position **/
.navbar-nav{
    margin-right: 10%;
    
}

/** Navigation Bar Header Position **/
.navbar-header{
    padding-left: 10%;
    
}

/** Navigation Bar, Font, Font Colour, Font Size and Padding **/
.navbar-brand{
    color: white;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.8em;
    padding-left: 10%;
}

/** Navigation Bar Margin (right) **/
.nav{
    margin-right: 10%;
}

/** Navigation Bar Font Hover Colour **/
.nav-link:hover{
    color:#aaa;
}

/** Navigation Bar Font Hover Colour **/
.navbar-brand:hover{
    color:white;
}

/** Remove white ling on the right side of the page **/
html,body
{
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

/** Carousel Caption Text **/
.carousel-caption a{
    margin-top: 15px;
    color: #fff;
    background: #1A1A23;
    padding: 10px 20px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}

/** Carousel Caption Text Hover Background Colour **/
.carousel-caption a:hover{
    background: #e2e2df;
}

/** Carousel Caption Text **/
.carousel-caption p{
    margin: auto;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    line-height: 3;
    letter-spacing: 1px;
    color: #aaa
}

/** Carousel Caption Text **/
.carousel-caption h5{
    font-size: 40px;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}

/** Caroulse Caption Text Position **/
.carousel-caption{
    bottom: 450px;
}

/** Footer background color, font color, padding and spacing between words **/
.footer {
    background-color: black;
    color: #e2e2df;
    padding: 75px 50px 60px;
    font-size: 15px;
    border-radius: 12px;
    line-height: 24px;
    float: center;
}

/** Footer heading font, font colour, font size, capital text, letter spacing and margin  **/
.footer h5{
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/** Footer paragraph font, font colour, font size and letter spacing **/
.footer p{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 13.5px;
    letter-spacing: 1.25px;
}

/** Footer link font, font colour, font size and letter spacing **/
.footer a{
    color: rgb(189, 189, 189);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

/** Footer hover colour for links **/
.footer a:hover{
    color: #e2e2df;
    text-decoration: none;
}

/** Footer remove bullet points and text padding **/
.footer-links {
    list-style: none;
    padding-left: 0px;
}

/** Footer links displayed as a block **/
.footer-links li{
  display: block;
}


.carousel-item a img{
    height: calc(100vh);
    max-width: 100%;
    object-fit: cover;
}

.carousel-item img{
    height: calc(100vh);
    max-width: 100%;
    object-fit: cover;
}